@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;300;400;500;700;900&display=swap');
/* RESET 2022 */
html{
	font-size:62.5%;
	scroll-behavior:smooth;
}
body{
	font: 1.6rem 'Encode Sans', sans-serif;
	margin:0;
	background-color: var(--default);
}
section,figure,h1,h2,h3,h4,h5,h6,ol,p,ul{
	margin:0;
	padding:0;
	list-style:none;
}
a{
	color:#000;
	text-decoration:none;
}
*{ 
	box-sizing:border-box;
}
button,input,select{
	padding:0;
	border:0;
	background-color:transparent;
	font-size: inherit;
}
img{
	display: inline-block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	vertical-align: middle;
}
/* HEADER */
header{
    display: flex;
    align-items: center;
    justify-content: center;
	
}
header h1{
    padding: 2rem;
    text-align: center;
    text-transform: capitalize;
	border: solid .4rem var(--default);
	border-radius: 1rem;
	background-color: var(--secondary);
}
header ul{
	position: fixed;
	z-index: 1;
	top: 2%;
	left: 96%;
	background-color: var(--white);
	border: solid .2rem var(--tertiare);
	border-radius: 2rem;
	padding: 1rem;
}

header ul li{
	margin: 0.5rem auto;
	cursor: pointer;
}
header img{
	display: block;
	transform: translateX(-3rem);
	max-width: 10rem;
}
/* COLORS */
:root{
	--default: #222;
	--white: #fff;
	--primary: #2c3e50;
	--secondary: #c0392b;
	--tertiare: #a72b1d;
}
/*ACCESSIBILITY*/
.accessibility{
	filter: contrast(1.5) grayscale(90%);
}
.light{
	background-color: #fafafa;
}
.light section ul li img{
	display: block;
	margin: 0rem auto;
	border-radius: .5rem;
	border: solid .2rem var(--default);
	box-shadow: .1rem .1rem .8rem var(--default);
}
.light header ul{
	position: fixed;
	z-index: 1;
	top: 2%;
	left: 96%;
	background-color: var(--white);
	border: solid .2rem var(--default);
	border-radius: 2rem;
	padding: 1rem;
}

.light h2{
	color: var(--default);
}

.light label{
	display: block;
	padding: 1rem 0rem;
	text-shadow: none;
	color: var(--default);
	font-weight: bold;
	font-size: 2rem;
}
.light input, .light select{
	color: #222;
	background-color: #fafafa;
	
}
.light img{
	border-radius: .5rem;
	border: solid .2rem var(--default)
}
.light legend{
	display: block;
	margin: 0 auto;
	color: var(--default);
	text-shadow:none;
	text-align: center;
	font-weight: bold;
	font-size: 2.5rem;	
}

/*MAIN*/
main{
	margin: 0 auto;
	max-width: 90rem;
}
section{
	max-width: 90rem;
	margin: 0 auto;
}
section h2{
	text-align: center;
	padding: 2rem;
	color: var(--white);
}
section p{
	text-align: center;
	padding: 2rem;
	border: solid .2rem var(--secondary);
	margin: 2rem auto;
	background-color: var(--white);
	border-radius: .5rem;
}
main nav{
	max-width: 90rem;
	margin: 2rem auto;
}
main .success{
	background-color: rgb(26, 124, 26);
	border: solid .2rem var(--default);
	padding: 2rem;
	text-align: center;
}
main .error{
	background-color: rgb(170, 17, 30);
	border: solid .2rem var(--default);
	padding: 2rem;
	text-align: center;
}
section ul, main nav ul{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 1rem;
	border-radius: .5rem;
}
section ul li img,main nav ul li img{
	display: block;
	margin: 0rem auto;
	border-radius: 0.3rem;
	border: solid .2rem var(--white);
	transition: all .3s ease-in-out;
}
section a{
	display: block;
	margin: 3rem auto;
	padding: 2rem;
	border-radius: .4rem;
	text-align: center;
	background-color: var(--tertiare);
	max-width: 40rem;
	color: #fff;
	font-weight: bolder;
}
form *{
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: .9rem;
	text-transform: capitalize;
}
form fieldset{
	border: none;
	margin: 2rem auto;
	padding: 2rem 0;
}
form label{
	display: block;
	padding: 1rem 0rem;
	color: var(--white);
	text-shadow: var(--secondary) .25rem .25rem 0rem;
	font-weight: bold;
	font-size: 2rem;
}
form fieldset legend{
	display: block;
	margin: 0 auto;
	color: var(--white);
	text-shadow: var(--secondary) .25rem .25rem 0, var(--tertiare) .5rem .5rem 0;
	text-align: center;
	font-weight: bold;
	font-size: 2.5rem;	
}
form input[type="submit"]{
	display: block;
	margin: 2rem auto;
	padding: 1.5rem;
	border-radius: .5rem;
	text-align: center;
	background-color: var(--tertiare);
	width: 100%;
	color: var(--white);
	cursor: pointer;
	font-weight: bolder;
}
form input:focus, form select:focus{
	box-shadow: 0 0 .7rem var(--tertiare);
	border: solid .2rem var(--tertiare);
	outline: none;
}
form input{
	display: block;
	border-radius: .5rem;
	padding: 1rem 0.5rem;
	color: #f0efef;
	background-color: #333;
	border: solid .2rem var(--default);
}
form select{
	display: block;
	height: 100%;
	width: 100%;
	padding: 1rem 0.5rem;
	border-radius: .5rem;
	color: #cccccc;
	background-color: #333;
	border: solid .2rem var(--default);
}
form select option{
	display: block;
	padding: 1rem 0rem;
	border-radius: .5rem;
}
[placeholder]{
    text-transform: capitalize;
}
/* FOOTER */
footer{
	background-color: var(--default);
	padding: 2rem;
}
footer p{
	text-align: center;
	color: var(--white);
	
}
@media screen and (max-width: 60rem){
	header{
		display: block;
	}
	Header h1{
		font-size: 2.5rem;
	}
	header img{
		display: block;
		margin: 0 auto;
		transform: none;
		max-width: 10rem;
	}
    header ul{
        position: absolute;
        z-index: 1;
        top: 1.5%;
        left: 84%;
        background-color: var(--white);
        border: solid .2rem var(--tertiare);
        border-radius: 2rem;
        padding: 1rem;
    }
	header nav{
		position: absolute;
		top: 2%;
		left: 82%;
	}
	body{
		padding: 1rem;
	}
	section ul{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

}
	
